// Place all the styles related to the texts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.centered {
	padding-bottom: 10px;
	font-family: "Tahoma", Geneva, sans-serif;
	color: DarkSlateGrey;
}
.centeredposts {
	margin-right:auto;
	width:60%;
	padding-bottom: 20px;
	font-family: "Tahoma", Geneva, sans-serif;
	color: DarkSlateGrey;
}
.centered .tooltiptext {
	visibility: hidden;
	width: 120px;
	color: black;
	background-color: white;
	text-align: left;
	padding: 5px;
	border-radius: 6px;
	position: absolute;
}
.centered:hover .tooltiptext {
	visibility: visible;
}

.postcontent {
	height:200px;
	width:60%;
	border:0.5px solid #ccc;
	font-family: "Tahoma", Geneva, sans-serif;
	overflow:auto;
	overflow-x: hidden;
	padding-bottom:10px;
	padding-left:7px;
	padding-right:7px;
	padding-top:7px;
	margin-bottom:5px;
}

.col-md-12 center-block {
	padding-left: 0px;
}

.container {
	padding-left: 0px;
}