<% @texts.each do |text| %>
  <div class="link row clearfix">
    <h2>
        <%= link_to text.title, text %><br>
        <small class="author">Submitted <%= time_ago_in_words(text.created_at) %> by <%= text.user.email %></small>
    </h2>
  </div>
  <% end %>